/php/nbproject/private/
/php/docs/html/
/php/docs/latex/
/php/src/vendor/
/php/images.full/
/php/images.thumb/
/go/images.full/
/go/images.thumb/
/java/nbproject/private/
/docs/
/WebApplication1/nbproject/private/
/java/build/
/java/dist/
/cpp/dist/
/cpp/build/
/js/nbproject/private/
/js/node_modules/
/js/images.full/
/js/images.thumb/
